@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$font__sans-serif: 'Roboto Slab', serif;

html, body {
  font-family: $font__sans-serif;
  background-color: purple;
}
* {
  color: purple;
}
