@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$font__sans-serif: 'Roboto Slab', serif;

$eerie-black: rgba(21, 21, 21, 1);
$sweet-brown: rgba(166, 61, 64, 1);
$gold-crayola: rgba(233, 184, 114, 1);
$asparagus: rgba(144, 169, 89, 1);
$light-grey: #DAD6D6;
$air-superiority-blue: rgba(100, 148, 170, 1);


html, body {
  background-color: $eerie-black;
  color: $light-grey;
  font-family: $font__sans-serif;
}

a {
  color: $gold-crayola;
  text-decoration: none;

  &:hover {
    color: $asparagus;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $sweet-brown;
}

ol,
ul {
  display: grid;
  gap: 1em;
}
