@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$font__sans-serif: 'Roboto Slab', serif;

$black: #0b0c10;
$gray--dark: #1f2833;
$gray--light: #cfc6c7;
$teal--dark: #45a29e;
$teal--light: #66fcf1;


html, body {
  background-color: $black;
  color: $gray--light;
  font-family: $font__sans-serif;
}

a {
  color: $teal--dark;
  text-decoration: none;

  &:hover {
    color: $teal--light;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $teal--light;
}

ol,
ul {
  display: grid;
  gap: 1em;

  ul,
  ol {
    margin-top: 1em;
  }
}
